/* All sections
----------------------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #292B2D;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  color: #4A4E69
}

body {
  font-size: 14px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-launch {
  width: 100%;
  max-width: 200px;
  background-color: #549657;
  color: white;
  box-shadow: 0px 2px 5px 1px darkgrey;
  margin-top: 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fat {
  font-weight: 700;
}

a {
  color: #292B2C;
  text-decoration: none;
}

a:hover {
  color: #014C8C;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.wrapper-applications__screenshot img {
  box-shadow: 0px 2px 5px 1px darkgrey;
}
/* ===================== SINGLE COLUMN ===================== */
.wrapper {
  display: grid;
}

.grid-header {
  /*background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);*/
  /*padding: 65px 10px;*/
  /*clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);*/
}

#name {
  text-align: center;
  margin-top: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

#hero {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
  color: whitesmoke;
}

#sub-hero {
  font-size: 1em;
  text-transform: uppercase;
  line-height: 4em;
  letter-spacing: 0.1em;
  text-align: center;
  color: #292B2D;
}

.row-grey {
  background: lightgrey;
  padding: 65px 10px;
  clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
}

.row-white {
  padding: 65px 10px;
}

.row-blue-gradient {
  /*background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);*/
  background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
  padding: 65px 10px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.wrapper-applications__buttons {
  text-align: center;
}

.wrapper-applications__techstack {
  text-align: center;
}

.grid-contact {
  /*background: #2D838B;*/
}

.profile-pic {
  box-shadow: 0px 4px 6px 2px ;
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* ===================== 12 COLUMN ===================== */
@media screen and (min-width: 600px) {
  /* Header
  --------------------------------------------------------------------------- */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .wrapper-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    text-align: center;
    height: 100vh;
  }

  .wrapper-header__hero {
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .grid-header {
    grid-column: span 12;

  }

  #name {
    font-size: 4em;
  }

  #hero {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 7em;
  }

  #sub-hero {
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 0 !important;
    letter-spacing: 0.2em;
  }


  /* Application
  --------------------------------------------------------------------------- */
  .wrapper-applications {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2em;
  }

  .wrapper-applications__screenshot {
    grid-column: 6/12;
    grid-row: 1/3;
  }

  .wrapper-applications__description {
    grid-column: 2/6;
    grid-row: 1/3;
  }

  .wrapper-applications__techstack {
    text-align: left;
  }

  .grid-applications {
    grid-column: span 12;
  }

  /* Contact
  --------------------------------------------------------------------------- */
  .wrapper-contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2em;
  }

  .wrapper-contact__photo {
    grid-column: 2/4;
  }

  .wrapper-contact__info {
    grid-column: 5/8;
  }

  .wrapper-contact__networks {
    grid-column: 9/12;
  }

  .grid-contact {
    grid-column: span 12;
  }

  .wrapper-contact__info p,
  .wrapper-contact__networks p {
    font-size: 18px;
    color: #292B2D;
    font-weight: 400;
  }

  .profile-pic {
    box-shadow: 0px 4px 6px 2px ;
    border-radius: 50%;
    width: 100%;
    /*text-align: center;*/
  }

}

.shade {
  background: rgba(0,0,0,.8);
}
